global:
  message: Welcome to global Microservices Environment!!!!!
logging:
  level:
    root: INFO
management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh
  endpoint:
    health:
      show-details: always
# Eureka Client Configuration common to all the services
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/